<ion-header>
    <ion-navbar>
        <ion-title>{{list.name}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-list *ngIf="imeis">
        <ion-item-sliding *ngFor="let imei of imeis">
            <ion-item>
                <h2>{{imei.name}}</h2>
            </ion-item>
            <ion-item-options side="right">
                <button ion-button color="danger" (click)="deleteImei(imei)">
                    Borrar
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-fab right bottom>
        <button ion-fab color="light"><ion-icon name="camera"></ion-icon></button>
        <ion-fab-list side="left">
            <button ion-fab (click)="barCodeScan()"><ion-icon name="barcode"></ion-icon></button>
            <button ion-fab (click)="manualAdd()"><ion-icon name="add"></ion-icon></button>
        </ion-fab-list>
    </ion-fab>

</ion-content>