<!--
  Generated template for the ListsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Listas</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item-sliding *ngFor="let list of lists">
      <ion-item (click)="goToPage(list)">
        <h2>{{list.name}} - <small>{{list.date | date:'medium'}}</small></h2>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="deleteItem(list)">
          Borrar
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab bottom right>
    <button ion-fab mini (click)="openPrompt()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
