<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Bienvenido a barCode APP!</h2>
  <p>
    Para empezar crea una lista para poder escanear IMEIs
  </p>
</ion-content>
